
body{background-color: black;
color: white;
}

#rational{background-color: blue;
color: white;
padding: 10;}
a{text-decoration: none;}

#babe{background-color: grey;
color: white;
padding: 10;}

#me{font-size: 42pt;
font-family: Linux Biolinum O;
}

