<html>
	<head>
		<title>RetinaFolio</title>
		<link rel = "stylesheet" type = "text/css" href = "static/index.css">
	</head>
	<body>
		<span id = "me">Welcome to<br> Retina Folio</span>
		<p>Create beautiful retina display optimized websites and photo and video galleries from your Dropbox folders.<br>Share your galleries with friends,password protect them,or embed them in your own websites and blogs.<br>Your Dropbox is about to get a whole lot more powerful!</p>
		<p>
			<a id = "rational" href = "https://dropbox.com">Sign in with Dropbox</a>
			<a id = "babe" href = "https://google.com">Tour</a>
		</p>
	</body>
</html>
